<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okay.family.mapper.CaseCollectionMapper">

    <sql id="table">
        case_collection
    </sql>




    <insert id="add" parameterType="java.util.List">
        insert into
        <include refid="table"/>
        (bach_id, code, type, facevalue,create_user,create_time)
        values
        <foreach collection="list" item="caseCollectionRecord" index="index" separator=",">
            (
            #{reddemCode.batchId}, #{reddemCode.code},
            #{reddemCode.type},
            #{reddemCode.facevalue},
            #{reddemCode.createUser}, #{reddemCode.createTime}
            )
        </foreach>
    </insert>
</mapper>