<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okay.family.mapper.CaseCollectionMapper">

    <sql id="table">
        case_collection
    </sql>

    <sql id="relation">
        collection_case_relation
    </sql>

    <insert id="addCollection"  useGeneratedKeys="true" keyProperty="id" parameterType="com.okay.family.common.bean.casecollect.CaseCollectionBean">
        INSERT INTO
        <include refid="table"/>
        (owner,environment,name,last)
        values
        (#{owner},#{environment},#{name},#{owner})
    </insert>


    <insert id="addRelation" parameterType="java.util.List">
        insert into
        <include refid="relation"/>
        (collectionid, caseid)
        values
        <foreach collection="list" item="CaseCollectionRelationBean" index="index" separator=",">
            (
            #{CaseCollectionRelationBean.collectionid}, #{CaseCollectionRelationBean.caseid}
            )
        </foreach>
    </insert>

    <!--    <if test="phone != null">-->
    <!--        phone,-->
    <!--    </if>-->

</mapper>