<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okay.family.mapper.CommonMapper">

    <sql id="SERVER">
        family_service_env
    </sql>

    <sql id="save_table">
        qa_request_record
    </sql>

    <sql id="lock">
        qa_lock
    </sql>

    <select id="findAllHost" resultType="java.util.HashMap">
        SELECT service_id * 10 + env id,domain
        FROM
        <include refid="SERVER"/>
    </select>

    <select id="getHost" resultType="java.lang.String">
        select domain from
        <include refid="SERVER"/>
        where env = #{arg0} and service_id = #{arg1}
    </select>

    <insert id="saveRequest" parameterType="com.okay.family.common.bean.RequestSaveBean">
        INSERT INTO
        <include refid="save_table"/>
        (api,mark,method,host,size,cost,state,code,requestid)
        VALUES
        (#{api},#{mark},#{method},#{host},#{size},#{cost},#{status},#{code},#{requestid})
    </insert>

    <insert id="lock" parameterType="java.lang.Long">
        INSERT INTO
        <include refid="lock"/>
        (id)
        VALUES
        (#{0})
    </insert>

    <delete id="unlock" parameterType="java.lang.Long">
        delete from
        <include refid="lock"/>
        where id = #{0}
    </delete>

    <delete id="clearLock" parameterType="java.lang.String">
        delete from <include refid="lock"/>
        where create_time <![CDATA[ <= ]]> #{0}
    </delete>

</mapper>