<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okay.family.mapper.CommonMapper">

    <sql id="SERVER">
        family_service_env
    </sql>

    <sql id="save_table">
        qa_request_record
    </sql>

    <select id="findAllHost" resultType="java.util.HashMap">
        SELECT service_id * 10 + env id,domain
        FROM
        <include refid="SERVER"/>
    </select>


    <insert id="saveRequest" parameterType="com.okay.family.common.bean.RequestSaveBean">
        INSERT INTO
        <include refid="save_table"/>
        (api,mark,method,host,size,cost,status,code,requestid)
        VALUES
        (#{api},#{mark},#{method},#{host},#{size},#{cost},#{status},#{code},#{requestid})
    </insert>

</mapper>