<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okay.family.mapper.PubDataMapper">

    <sql id="table">
        qa_pub_data
    </sql>

    <resultMap id="entityMap" type="com.alibaba.fastjson.JSONObject">
        <!-- 实体类的json字段，typeHandler指定自定义的typeHandler -->
        <result column="list" property="pubdata" typeHandler="com.okay.family.common.typehandler.JsonHandler"/>
    </resultMap>

    <resultMap type="com.okay.family.common.bean.pubdata.PubDataBean" id="PubDataBean">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="envId" column="environment"/>
        <result property="name" column="name"/>
        <result property="list" column="list" typeHandler="com.okay.family.common.typehandler.ListPubDetailHandler"/>
    </resultMap>

    <select id="getAllDatas" parameterType="java.lang.Integer" resultMap="PubDataBean">
        select * from
        <include refid="table"/>
        where uid = #{0}
    </select>

    <select id="getDatasByEnv" resultMap="PubDataBean">
        select * from
        <include refid="table"/>
        where uid = #{arg0} and envId = #{arg1}
    </select>

    <update id="updateDataAttribute" parameterType="com.okay.family.common.bean.pubdata.EditPubBean">
        UPDATE
        <include refid="table"/>
        SET
        name=#{name}
        WHERE id=#{id} and uid = #{uid}
    </update>


    <update id="saveData" parameterType="com.okay.family.common.bean.pubdata.SavePubDataBean">
        UPDATE
        <include refid="table"/>
        SET
        list=#{list,jdbcType=OTHER,typeHandler=com.okay.family.common.typehandler.ListPubDetailHandler}
        WHERE id=#{id} AND uid=#{uid}
    </update>


    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.okay.family.common.bean.pubdata.EditPubBean">
        INSERT INTO
        <include refid="table"/>
        (uid,name,envId)
        VALUES
        (#{uid},#{name},#{envId})
    </insert>

    <delete id="delData" parameterType="com.okay.family.common.bean.pubdata.EditPubBean">
        delete from
        <include refid="table"/>
        where id = #{id} and uid = #{uid}
    </delete>

</mapper>