<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okay.family.mapper.SaveMapper">


    <!--<insertDetail >-->
    <insert id="saveRequest" parameterType="com.okay.family.common.bean.RequestSaveBean">
      INSERT INTO add_user_detail(ID,HISTORYID,ACCOUNT,PWD,TOKEN,COOKIES)
      values (#{id},#{historyId},#{account},#{pwd},#{token},#{cookies})
    </insert>


</mapper>