<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okay.family.mapper.TestCaseMapper">

    <sql id="table">
        qa_test_case
    </sql>

    <sql id="record_table">
        qa_case_edit_record
    </sql>

    <sql id="case_project_relation">
        qa_case_project_relation
    </sql>

    <sql id="server_env">
        family_service_env
    </sql>
    <sql id="api_info">
        family_server_api_info
    </sql>

    <resultMap id="entityMap" type="com.okay.family.common.bean.testcase.CaseVerifyBean">
        <result column="verify" property="verify"
                typeHandler="com.okay.family.common.typehandler.ListCaseVerifyBeanHandler"/>
    </resultMap>

    <resultMap type="com.okay.family.common.bean.testcase.TestCaseBean" id="TestCaseBean">
        <result property="id" column="id"/>
        <result property="owner" column="owner"/>
        <result property="environment" column="environment"/>
        <result property="project" column="project"/>
        <result property="serverid" column="serverid"/>
        <result property="servername" column="servername"/>
        <result property="moduleid" column="moduleid"/>
        <result property="modulename" column="modulename"/>
        <result property="apiid" column="apiid"/>
        <result property="apipath" column="apipath"/>
        <result property="host" column="host"/>
        <result property="name" column="name"/>
        <result property="apitype" column="apitype"/>
        <result property="lastresult" column="lastresult"/>
        <result property="method" column="method"/>
        <result property="headers" column="headers" typeHandler="com.okay.family.common.typehandler.JsonHandler"/>
        <result property="params" column="params" typeHandler="com.okay.family.common.typehandler.JsonHandler"/>
        <result property="level" column="level"/>
        <result property="verify" column="verify"
                typeHandler="com.okay.family.common.typehandler.ListCaseVerifyBeanHandler"/>
    </resultMap>

    <select id="findCasesByApi" resultMap="TestCaseBean">
        select * from
        <include refid="table"/>
        WHERE environment=#{arg0} and apiid = #{arg1}
    </select>

    <update id="updateCase" parameterType="com.okay.family.common.bean.testcase.request.CaseAttributeBean">
        UPDATE
        <include refid="table"/>
        c
        SET
        editor=#{uid},name=#{name},envId=#{envId},serviceId=#{serviceId},moduleId=#{moduleId},projectList=#{projectList,jdbcType=OTHER,typeHandler=com.okay.family.common.typehandler.ListIntegerHandler},apiId=#{apiId},headermoco=(SELECT
        header_para FROM family_server_api_info WHERE id = #{apiId}),paramsmoco=(SELECT request_par FROM
        family_server_api_info WHERE id = #{apiId})
        WHERE
        id = #{id}
    </update>

    <insert id="copyCase" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.okay.family.common.bean.testcase.request.CaseAttributeBean">
        INSERT INTO
        <include refid="table"/>
        (uid,editor,projectList,envId,serviceId,moduleId,apiId,name,level,path,type,method,headermoco,paramsmoco,headers,params,verify)
        select * from (select
        #{uid} aa,#{uid}
        bb,projectList,envId,serviceId,moduleId,apiId,#{name}
        n,level,path,type,method,headermoco,paramsmoco,headers,params,verify
        FROM
        <include refid="table"/>
        WHERE id = #{id}) t
    </insert>

    <insert id="addCaseProjectRelation">
        insert into
        <include refid="case_project_relation"/>
        (caseId,projectId)
        values
        <foreach collection="projectList" item="projectId" index="index" separator=",">
            (
            #{id}, #{projectId}
            )
        </foreach>
    </insert>

    <insert id="addEditRecord" parameterType="com.okay.family.common.bean.testcase.response.CaseEditRecord">
        INSERT INTO
        <include refid="record_table"/>
        (caseId,editor,type)
        VALUES
        (#{caseId},#{editor},#{type})
    </insert>

    <insert id="copyCaseProjectRelation">
        INSERT INTO
        <include refid="case_project_relation"/>

        (caseId,projectId)

        select * from (select
        #{arg1} aa,projectId
        FROM
        <include refid="case_project_relation"/>
        WHERE caseId = #{arg0}) t
    </insert>

    <insert id="addCase" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.okay.family.common.bean.testcase.request.CaseAttributeBean">
        INSERT INTO
        <include refid="table"/>

        (uid,editor,projectList,envId,serviceId,moduleId,apiId,name,level,path,type,method,headermoco,paramsmoco)

        select * from (select
        #{uid} aa,#{uid}
        bb,#{projectList,jdbcType=OTHER,typeHandler=com.okay.family.common.typehandler.ListIntegerHandler} ab,#{envId}
        cc,#{serviceId} dd ,#{moduleId} ee ,#{apiId} ff,#{name}
        gg,1,api_url,api_action,api_method,header_para,request_par
        FROM
        <include refid="api_info"/>
        WHERE id = #{apiId}) t
    </insert>

    <delete id="delCaseProjectRelation" parameterType="com.okay.family.common.bean.DelBean">
        delete from
        <include refid="case_project_relation"/>
        where caseId = #{id}
    </delete>

    <delete id="delCase" parameterType="com.okay.family.common.bean.DelBean">
        delete from
        <include refid="table"/>
        where id = #{id} and uid = #{uid}
    </delete>

</mapper>