<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okay.family.mapper.TestUserMapper">
    <sql id="BASE_TABLE">
        t_user
    </sql>
    <!--    <include refid="BASE_TABLE"/>-->

    <select id="findUsers" parameterType="com.okay.family.common.bean.testuser.TestUserBean"
            resultType="com.okay.family.common.bean.testuser.TestUserBean">
        select * from
        <include refid="BASE_TABLE"/>
    </select>

    <select id="findUser" parameterType="java.lang.Integer"
            resultType="com.okay.family.common.bean.testuser.TestUserBean">
        select * from
        <include refid="BASE_TABLE"/>
        where id = #{0}
    </select>

    <update id="updateUser" parameterType="com.okay.family.common.bean.testuser.TestUserBean">
        UPDATE
        <include refid="BASE_TABLE"/>
        SET
        status=#{status},certificate=#{certificate}
        WHERE environment=#{environment} and uname=#{uname}
    </update>

    <insert id="add" parameterType="com.okay.family.common.bean.testuser.TestUserBean">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        (owner,environment,uname,pwd,phone,identity,userdesc)
        values (#{owner},#{environment},#{uname},#{pwd},#{phone},#{identity},#{userdesc})
    </insert>

</mapper>